header {
    background-color: #006266;
    border-bottom: 7px solid #000;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
nav {
    text-align: right;
    padding: 10px 20px;
    display: inline-flex;
    align-items: center;
}
a {
    display: inline-flex;
    align-items: center;
    color: aliceblue;
    font-size: 20px;
    font-weight: 400;
    font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin-right: 25px;
    margin-bottom: 4px;
}
.logo{
    height: 60px;
    width: 60px;
}
a.list::before {
    content: "";
    background-color: #ffffff;
    height: 6px;
    width: 6px;
    margin-right: 8px;
    border-radius: 4px;

}
#button {
    display: inline-flex;
    background-color: #EE5A24 ;
    padding: 6px 10px;
    box-shadow: 4px 4px 1px #000000;
    margin-right: 0px;
    transition: transform 30ms linear;
}
#button:hover {
    background-color: #a86d58;
    transform: scale(1.07);
}