.buttonArrow {
    display: inline-block;
    text-align: center;
    font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
    transition: transform 30ms linear;
    background-color: #006266;
    box-shadow: 3px 3px 1px #000;
    cursor: pointer;
    color: #fff;
    border-radius: 5px;
    height: 30px;
    width: 30px;
    margin-bottom: 40px;
}
.buttonArrow::before {
    content: '';
    display: block;
    box-sizing: border-box;
    width: 8px;
    height: 8px;
    border: 8px solid transparent;
    border-left: 12px solid #fff;
    transform: translateX(4px);
}
.buttonArrow.-left::before {
    transform: rotate(180deg) translateX(5px);
}
.buttonArrow .content {
    display: none;
}
.buttonArrow:hover {
    transform: translateY(40%);
}