.mainBanner {
    text-align: center;
    padding: 150px 80px;
    background-size: 100%;
    background-image: url("../../assets/img/imgBackground.jpg");
    background-repeat: no-repeat;
    border-bottom: 7px solid #fff;
}