.mainButton {
    display: inline-flex;
    color: inherit;
    text-decoration: none;
    background-color: #EE5A24;
    font-size: 20px;
    margin-left: 15px;
    padding: 6px 10px;
    box-shadow: 4px 4px 1px #000000;
    margin-right: 0px;
    transition: transform 30ms linear;
}    
.mainButton:hover {
    background-color: #a86d58;
    transform: scale(1.07);
}
.mainBox .mainButton {
    margin-top: 25px;
}