.subtitle {
    color: #e0e0e0;
    margin-top: 10px;
    font-weight: 400;
    font-size: 30px;
    text-shadow: 4px 4px 1px #000000;
}
.boxSkillsUnit .subtitle {
    text-align: left;
    text-shadow: none;
    font-size: 25px;
    margin-left: 5px;
}